div {
	text-align: center;	
	border: 25px;
    padding: 25px;
    margin: 10px;
    margin-top: 160px;
    margin-bottom: 0px
}

input {
	position: relative;
    left: 380px;
    width: 35%;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 25px;
  -webkit-appearance: textarea;
  box-shadow:         1px 1px 1px 1px #ccc;

}

#Searchbutton {
	position: relative;
    left: 445px;
     width: 10%;
    padding: 10px 10px;
    margin: 10px 0;
    font-size:16px;
    -webkit-appearance: none;
    box-shadow: 0,0,0,0
}

#feeling {
	position: relative;
    left: 530px;
     width: 10%;
    padding: 10px 10px;
    margin: 10px 0;
    font-size:16px;
    -webkit-appearance: none;
        box-shadow: 0,0,0,0
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
    float: left;
    padding: 12px 14px;
    text-decoration: none;

}